<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscriptions</title>
</head>
<body>
<h1>Inscription d'un étudiant</h1>
<form th:action="@{/register}" th:object="${student}" method="post">
    Prénom : <input type="text" th:field="*{firstName}" />
    Nom : <input type="text" th:field="*{lastName}" />
    Age : <input type="text" th:field="*{age}" />
    Email : <input type="text" th:field="*{email}" />
    <input type="submit" value="Envoyer" />
</form>
<p><a th:href="@{/}">Retour à l'accueil</a></p>
</body>
</html>